<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
    <script>
		document.getElementById('accountform').onsubmit = function() {
			document.getElementById('submitknop').disabled = true;
		};
	</script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
            	 <div th:if="${errors}" class="box col-md-6 col-md-offset-3">
            	 	<div th:each="error : ${errors}" th:inline="text" class='alert alert-danger'>
            	 		[[${error}]].
            	 		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    </div>
            	 </div>
                <div class="box col-md-6 col-md-offset-3">
                    <form id="accountform" action="#" th:action="@{/admin/accounts}" th:object="${account}" method="post">
						<label for="name">Name</label>
						<input id="name" type="text" th:field="*{name}" /> 
						<button type="submit" id="submitknop" class="btn btn-default">Add</button>
					</form>
                    <a href="/" class="btn btn-primary">Go Home</a>
                </div>
            </div>
        </div>
    </body>
</html>